## Dask DataFrames

In [42]:
from pymongo import MongoClient
from dask.distributed import Client, progress
import dask.dataframe as dd
from dask.delayed import delayed
import pandas as pd

### Dask Client

In [27]:
client = Client(n_workers=4, threads_per_worker=1)
client

/home/stivenramireza/anaconda3/envs/dask-tutorial/lib/python3.7/site-packages/distributed/bokeh/core.py:74: UserWarning:
Port 8787 is already in use.
Perhaps you already have a cluster running?
Hosting the diagnostics dashboard on a random port instead.
  warnings.warn("\n" + msg)

### Database Connection

In [28]:
DB_USER = '*****************************'
DB_PASS = '*****************************'
DB_HOST = '*****************************'
DB_NAME = '*****************************'

try:
    client = MongoClient(f'mongodb+srv://{DB_USER}:{DB_PASS}@{DB_HOST}/{DB_NAME}')
    print("Database connected successfully")
except Exception as e:
    print("Error to connect to database: ", e)
db = client.get_database(DB_NAME)
properties = db.properties

Database connected successfully

### Convert JSON documents to Dask DataFrames

In [39]:
json_documents = list(properties.find({}))

In [43]:
df = pd.DataFrame(json_documents)

In [45]:
ddf = dd.from_pandas(df, npartitions=10)

In [48]:
ddf

Dask DataFrame Structure:
                   _id   code description features location modifyDate modifyHour moreFeatures nameProject offersType ownerProperty scrapingDate scrapingHour  status    type urlProperty     use
npartitions=10
0               object  int64      object   object   object     object     object       object      object     object        object       object       object  object  object      object  object
1421               ...    ...         ...      ...      ...        ...        ...          ...         ...        ...           ...          ...          ...     ...     ...         ...     ...
...                ...    ...         ...      ...      ...        ...        ...          ...         ...        ...           ...          ...          ...     ...     ...         ...     ...
12789              ...    ...         ...      ...      ...        ...        ...          ...         ...        ...           ...          ...          ...     ...     ...         ...     ...
14208              ...    ...         ...      ...      ...        ...        ...          ...         ...        ...           ...          ...          ...     ...     ...         ...     ...
Dask Name: from_pandas, 10 tasks